body{
    font-family: Arial, sans-serif;
    font-size:.9em;
    width:100%;
    height:100%;
}
#wrapper{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
}
#form-container{
    flex: none;
    box-sizing: border-box;
}
#sms-status-form{
}
#sms-form label{
    display:block;
    line-height: 200%;
}
#sms-body{
    display:block;
    box-sizing:border-box;
    min-width:20em;
    max-width:20em;
    min-height:10em;
}
#sms-submit-container{
    text-align: right;
}